/Attendance.html
/avatar.css
/avatar.html
/coursereg.html
/Drop semester.html
/Faculties.html
/Premium_Vector___A_girl_on_books_with_a_laptop_on_her_lap-removebg-preview.png
/Representación_3d_del_icono_de_interfaz_de_usuario___Archivo_PSD_Gratis-removebg-preview.png
/Results.html
/Schedule.html
/script.js
/vector-reading-icon.jpg
vscode/
node_modules/
.env
